<span class="book">
  <div class="book-img">
    <img src="https://covers.openlibrary.org/b/olid/<%- book.olid -%>-M.jpg" alt="<%-book.olid-%>">
  </div>
  <div class="book-title-author">
    <a href="/<%- book.id -%>">
      <h2><%- book.title -%> by <%- book.author -%></h1>
    </a>
  </div>
</span>